%h1 active subscription
%form{ :method => "GET"}
  %input{ :name => "ac", :type => "text", :placeholder => "enter your activecode"}
  %input{ :name => "email", :type => "email", :placeholder => "enter your email"}
  %input{ :type => "submit"}
