%section#main
  %h1#title Subscribe
  %form{:method => "POST"}
    %input{:type => "text", :name => "email", :placeholder => "Enter your email"}
    %input{:type => "submit", :value => "Subscribe"}
  
  %p Enter your email to subscribe coderz blog
  
